.App {
  display: flex;
  flex-direction: column;
}

.homepage-btn {
  align-self: center;
}

.homepage-header {
  align-self: center;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 50px;
  margin-top: 4rem;
}
.hi,
.plum {
  background-color: plum;
}
.ml-1,
.mediumaquamarine {
  background-color: mediumaquamarine;
}

.ml-2,
.ml-3,
.ml-4,
.aqua {
  background-color: aqua;
}

.ml-2k,
.pink {
  background-color: pink;
}

.nav {
  margin-top: 3rem;
  align-self: center;
}

.gallery-house-img {
  margin-top: 3rem;
  margin-bottom: 2rem;
  align-self: center;
  max-width: 35rem;
}

.git-clothes-img {
  margin-top: 0;
  align-self: center;
  max-width: 35rem;
}

@media only screen and (max-width: 480px) {
  img {
    width: 100%;
  }
}

#nav-dropdown, #nav-dropdown-item, #nav-item {
  font-size: 1.5rem;
}

.text {
  align-self: center;
  margin: 2.25rem 2rem 2rem 2rem;
  max-width: 35rem;
  font-size: 1.5rem;
}

.magenta {
  background-color: magenta;
}

.blue {
  background-color: lightblue;
}

.green {
  background-color: greenyellow;
}

.alert {
  /* margin:0px auto; */
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  position: fixed;
  align-self: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
