.App {
  display: flex;
  flex-direction: column;
}

.homepage-btn {
  align-self: center;
}

.homepage-header {
  align-self: center;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 50px;
  margin-top: 4rem;
}


/* ---------------------------Colors---------------------------- */
.lightpurple {
  background-color: #d290d2;
}

.turquoise {
  background-color: #66cdaa;
}

.cyan {
  background-color: #00ffff;
}

.pink {
  background-color: #ffc0cb;
}

.lightblue {
  background-color: #add8e6;
}

.yellowgreen {
  background-color: #adff2f;
}

.gold {
  background-color: #ffdd00;
}
/* ---------------------------end Colors---------------------------- */

/* ---------------------------Embeded---------------------------- */

.gallery-house-img {
  padding: 1rem;
  margin-top: 3rem;
  max-width: 35rem;
  width: 375px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.git-clothes-img {
  max-width: 35rem;
  width: 25rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 4rem;
  padding-right: 0;
  height: 0;
}

.vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.list-group {
  margin-top: 5rem;
}

/* ---------------------------end Embeded------------------------- */

.navContainer {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  position: fixed;
  margin-top: 0px;
}

#nav-dropdown,
#nav-dropdown-item,
#nav-item {
  font-size: 1.5rem;
  background-color: rgb(248, 246, 246);
  color: rgb(39, 34, 34);
}

.text {
  align-items: center;
  margin-top: 20rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.sectionGH {
  margin-top: 10rem;
  margin-bottom: 25rem;
}

.section {
  margin-top: 25rem;
  margin-bottom: 25rem;
}

.sectionLinks {
  margin-top: 20rem;
  margin-bottom: 38rem;
}

h3 {
  align-self: center;
}

.alert {
  margin-top: 4rem;
  width: 375px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.active-link {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}