.App {
  display: flex;
  flex-direction: column;
}

.homepage-btn {
  align-self: center;
}

.homepage-header {
  align-self: center;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 50px;
  margin-top: 4rem;
}
.hi,
.plum {
  background-color: plum;
}
.ml-1,
.mediumaquamarine {
  background-color: mediumaquamarine;
}

.ml-2,
.ml-3,
.ml-4,
.aqua {
  background-color: aqua;
}

.ml-2k,
.pink {
  background-color: pink;
}

.nav {
  margin-top: 3rem;
  align-self: center;
}

.gallery-house-img {
  padding: 1rem;
  margin-top: 3rem;
  max-width: 35rem;
  width: 375px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.git-clothes-img {
  margin-top: 0;
  width: 375px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.vid {
  position: absolute;
  top: 0;
  left: 100;
  width: 100%;
  height: 100%;
}

#nav-dropdown,
#nav-dropdown-item,
#nav-item {
  font-size: 1.5rem;
}

.text {
  align-self: center;
  margin: 2.25rem 2rem 2rem 2rem;
  max-width: 35rem;
  font-size: 1.5rem;
}

.magenta {
  background-color: magenta;
}

.blue {
  background-color: lightblue;
}

.green {
  background-color: greenyellow;
}

.yellow {
  background-color: rgb(255, 221, 0);
}

.alert {
  margin-top: 4rem;
  width: 375px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
